.game {
    width: 650px;
    height: 300px;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(imgs/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 250px;
}

#cactus{
    width: 20px;
    height: 40px;
    background-image: url(imgs/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 210px;
    left: 580px;
    animation: cactus 1.5s infinite linear;
}

.jump{
    animation: jump 0.5s  linear;
}

@keyframes cactus {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

@keyframes jump {
    0%{
        top: 250px;
    }
    30%{
        top: 200px;
    }
    50%{
        top: 150px;
    }
    75%{
        top: 200px;
    }
    100%{
        top: 250px;
    }
}